.Agents-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Agents-list-item {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
}

.Agents-list-actions {
  display: flex;
}

.Agents-list-action + .Agents-list-action {
  margin-left: 0.6rem;
}

.Agents-list-label {
  border-radius: var(--border-radius);
  font-size: 0.8em;
  padding: 0.4em;
}

.Agents-list-label--available {
  background-color: var(--primary-color-faded);
  color: var(--primary-color);
}

.Agents-list-label--busy {
  background-color: var(--tertiary-color-faded);
  color: var(--tertiary-color);
}
