.App {
  --primary-color: #00c08b;
  --primary-color-faded: rgba(0, 192, 139, 0.2);
  --secondary-color: #1fb6ff;
  --tertiary-color: #80868b;
  --tertiary-color-faded: rgba(128, 134, 139, 0.2);
  --danger-color: #ff6666;
  --border-radius: 3px;

  max-width: 35rem;
  margin: 0 auto;
}

.App-container {
  display: flex;
  flex-direction: column;
  padding: 0px 0.5rem;
  height: 100vh;
}

.App-content {
  margin-top: 3rem;
  flex-shrink: 0;
}

.App-content,
footer {
  align-self: center;
}

.App-header-login {
  margin-top: 1.625rem;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.125rem;
  text-align: center;
}

.App-main-content {
  flex: 1 0 auto;
}

.App-section {
  margin-bottom: 2rem;
}

.App-heading {
  font-weight: normal;
  line-height: 1;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.App-title {
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.App-headline {
  font-size: 32px;
  margin-bottom: 0.5rem;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
}

.App-form-row {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas: 'input button';
  column-gap: 0.6rem;
  align-items: center;
}
@media only screen and (max-width: 570px) {
  .App-form-row {
    grid-template-areas:
      'input'
      'button';
    grid-row-gap: 10px;
    column-gap: 0;
  }
}

.App-input {
  background: white;
  border: 0;
  border-radius: var(--border-radius);
}

.App-input-label {
  display: inline-block;
  margin-bottom: 0.6rem;
}

.App-button {
  background: 0;
  border: 0;
  cursor: pointer;
  border-radius: var(--border-radius);
  color: white;
  min-width: 3.75rem;
}

.App-button:hover {
  opacity: 0.9;
}

.App-input,
.App-button {
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  padding: 0.6rem;
}

.App-form .App-input {
  padding: 0.8rem;
  min-width: 16.5rem;
  height: 3.3rem;
  grid-area: input;
}

.App-form .App-button {
  padding: 0.8rem;
  min-width: 7rem;
  height: 3.3rem;
  grid-area: button;
}

.App-button + .App-button {
  margin-left: 0.6rem;
}

.App-button--primary {
  background: var(--primary-color);
}

.App-button--secondary {
  background: var(--secondary-color);
}

.App-button--tertiary {
  background: var(--tertiary-color);
}

.App-button--danger {
  background: var(--danger-color);
}

.App-button--link {
  text-decoration: underline;
}

.App-button--small {
  height: 33px;
  padding: 0.4rem;
}

.App-error {
  color: red;
  padding: 10px;
}

.App-marginTop--big {
  margin-top: 3.43rem;
}

.App-marginTop--medium {
  margin-top: 1.625rem;
}

.App-marginTop--small {
  margin-top: 0.625rem;
}
