.App {
  --primary-color: #00c08b;
  --secondary-color: #1fb6ff;
  --tertiary-color: #80868b;
  --danger-color: #ff6666;
  --border-radius: 3px;

  max-width: 40rem;
  margin: 0 auto;
}

.App-section {
  margin-bottom: 2rem;
}

.App-input {
  background: white;
  border: 0;
  border-radius: var(--border-radius);
}

.App-button {
  background: 0;
  border: 0;
  border-radius: var(--border-radius);
  color: white;
  min-width: 5rem;
}

.App-button--primary {
  background: var(--primary-color);
}

.App-button--secondary {
  background: var(--secondary-color);
}

.App-button--tertiary {
  background: var(--tertiary-color);
}

.App-button--danger {
  background: var(--danger-color);
}

.App-input,
.App-button {
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  padding: 0.5rem;
}

.App-input + .App-button,
.App-button + .App-button {
  margin-left: 0.5rem;
}

.App-agentList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App-agentList-item {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-bottom: 1rem;
}
