.App {
  --primary-color: #00c08b;
  --primary-color-faded: rgba(0, 192, 139, 0.2);
  --secondary-color: #1fb6ff;
  --tertiary-color: #80868b;
  --tertiary-color-faded: rgba(128, 134, 139, 0.2);
  --danger-color: #ff6666;
  --border-radius: 3px;

  max-width: 35rem;
  margin: 0 auto;
}

.App-section {
  margin-bottom: 2rem;
}

.App-heading {
  font-weight: normal;
  line-height: 1;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.App-title {
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.App-headline {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.App-form-row {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 0.6rem;
}

.App-input {
  background: white;
  border: 0;
  border-radius: var(--border-radius);
}

.App-input-label {
  display: inline-block;
  margin-bottom: 0.6rem;
}

.App-button {
  background: 0;
  border: 0;
  cursor: pointer;
  border-radius: var(--border-radius);
  color: white;
  min-width: 5rem;
}

.App-button:hover {
  opacity: 0.9;
}

.App-input,
.App-button {
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  padding: 0.6rem;
  height: 3.3rem;
}

.App-form .App-input {
  padding: 0.8rem;
  min-width: 16.5rem;
}

.App-form .App-button {
  padding: 0.8rem;
  min-width: 7rem;
}

.App-button + .App-button {
  margin-left: 0.6rem;
}

.App-button--primary {
  background: var(--primary-color);
}

.App-button--secondary {
  background: var(--secondary-color);
}

.App-button--tertiary {
  background: var(--tertiary-color);
}

.App-button--danger {
  background: var(--danger-color);
}

.App-button--link {
  text-decoration: underline;
}

.App-button--small {
  padding: 0.4rem;
  min-width: initial;
}

.App-error {
  color: red;
  padding: 10px;
}
