.LoadingIcon {
  animation: blinking 1s linear infinite;
}

.LoadingIcon svg {
  height: 1rem;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
